@import 'tailwindcss';

@theme {
  --font-display: 'Inter', 'sans-serif';

  /* Color Scheme */
  --color-bg-page: #f9fafb; /* Page background color */
  --color-text-primary: #1f2937; /* Main body text color */
  --color-text-heading: #374151; /* Heading color */
  --color-text-muted: #6b7280; /* Muted/secondary text color */
  --color-accent: #0cb575; /* Accent color for links, buttons, borders */
  --color-accent-dark: #03915b; /* Darker accent color */
}

main section {
  @apply ml-2;
}

h2 {
  @apply -ml-2;
}

/* Printing Overrides */
body.printing {
  --color-bg-page: #fff;
  --color-text-primary: #000;
  --color-text-heading: #000;
  --color-text-muted: #000;
  --color-accent: #000;
  --color-accent-dark: #000;
}

body.printing button#download-btn {
  @apply hidden;
}

/* Prevent sections from splitting between pages */
body.printing section {
  page-break-inside: avoid;
}

@media print {
  section {
    page-break-inside: avoid;
  }
}
